*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    scroll-behavior: smooth;
    text-decoration: none;
}
header{
  width: 100vw;
  height: 120px;
   display: flex;
   background-color: white;
   justify-content: space-around;
   color: black;

}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

main{
  padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: max-content;
    flex-direction: column;
    gap: 5rem;
}

.Logo{
    width: 10%;
    align-items: center;
    height: 100%;
}
.info{
    display: flex;
    gap: 10%;
    align-items: center;
    width: 40%;
    justify-content: right;
}
.infos_itens{
    
    cursor: pointer;
    
}
.infos_itens a{
    font-weight: 500;
    font-size: 16px;
    color: white;
    padding: 10px 0;
}
.text_frame{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    height: max-content;
    gap: 10px;
}
.text_frame span{
    font-size: 28px;
    flex-wrap: wrap;
    width: 60%;
  
}
.text_first::after{
    content: "";
    background: black;
    padding: 1.5px;
    position: relative;
    bottom: 5px;
    animation: bar .8s  infinite;
}
.text_frame p{
    margin-top: 15px;
}

.skills{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
}

.card_body{
    width: 300px;
    height: 380px;
    -webkit-box-shadow: 11px 15px 10px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 11px 15px 10px 5px rgba(0,0,0,0.2);
    box-shadow: 11px 15px 10px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.option_card{
    display: flex;
    justify-content: right;
    z-index: 5;
    width: 50%;
    height: 30%;
    bottom: 0;
    right: 0;
    position: absolute;
    padding: 15px;
    align-items: center;
    cursor: auto;
    gap: 10px;
}
.preview_code{
    border-radius: 30px;
    height: max-content;
    padding: 16px 8px ;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    background-color: black;
    color: white;
    transition: all .2s ease;
    width: 100%;
}
.preview:hover, .preview_code:hover{
    scale: 1.1;
}
.card_body img{
    width: 50%;
    flex: 1;
}
.card_body span{
    padding: 4px;
    flex: .5;
    font-size: 16px;
}
.card_body p{
    flex: 1;
}  
.card_body i{
    position: absolute;
    left: 10%;
    bottom: 10%;
    font-weight: 800;
}
.project{
    width: inherit;
    height: max-content;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.project_cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: inherit;
    height: inherit;
    justify-content: center;
}

.contact{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 10px;
}
.card_contact{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 90%;
    max-width: 600px;
    height: max-content;
    padding: 10px;
    flex-wrap: wrap;
    gap: 40px;
}
.card_contact input {
    flex: 1;
    outline: none;
    border: none;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
    transition: all .3s ease;
}
#input_name{
    max-width: 350px;
}
#input_email{
    max-width: 350px;
}
#input_messager{
    padding: 8px 16px;
    width: 100%;
    max-width: 650px;
    height: max-content;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    transition: all .3s ease;

}
#input_name:focus,#input_email:focus,#input_messager:focus{
    border-bottom: 0.1rem solid rgba(0, 0, 0, 1);
}
/* .card_contact button{
    padding: 16px 8px;
    border-radius: 20px;
    cursor: pointer;
} */

@keyframes bar {
    50%{
        opacity: 0;
    }
    
}


.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  /*butão*/
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 5%;
    top:5%;
    
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: grey;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;

  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    height: 100vh;
    backdrop-filter: blur(1px);
  }
  
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0.8em;
    gap: 30px;
    
    
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    color: white;
    border-bottom: 1px solid white;
    padding: 4px;
    transition: border-bottom .3s ease,width 1s ease ;
   
    width:80px;
  }

  .bm-item:hover{
    border-bottom: 1px solid grey;
    width: 100%;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    
  }

.contact_icons{
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 10px;
}
.icon_lk{
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-image: url("../assets/LINKEDIN.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 5px 4px 3px 0px rgba(0,0,0,0.27); 
  box-shadow: 5px 4px 3px 0px rgba(0,0,0,0.27);
  cursor: pointer;
  position: relative;
  transition: all .5s ease;
  bottom: 0px;
}
.icon_lk:hover{

  bottom: 10px;
}
.icon_git{
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-image: url("../assets/GITHUB.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 5px 4px 3px 0px rgba(0,0,0,0.27); 
  box-shadow: 5px 4px 3px 0px rgba(0,0,0,0.27);
  cursor: pointer;
  position: relative;
  transition: all .5s ease;
  bottom: 0px;
}
.icon_git:hover{

  bottom: 10px;
}
